@font-face {
    font-family: sans;
    src: url(./font/sans.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans;
}

body{
    background:linear-gradient(#2b1055,#7597de);
    min-height: 100vh;
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding: 30px 100px;

}